body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.game-container {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  height: 100vh; 
  /* background-color: yellow; */
}

.carousel {
  display: flex;
  width:100vw;
  overflow: scroll;
  /* background-color: red; */
  padding-block: 5px;
  position: fixed;
  top:0;
  left:0;
  height:5em;
  z-index: 1;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100vw;
  height:100vh;
  /* background-color: green; */
}

.controls {
  height:5em;
  position: fixed;
  bottom:0;
  left:0;
  width:100vw;
  /* background-color: blue; */
}

.control-buttons-container {
  display: flex;
  overflow: scroll;
}

.carousel-image {
  height:100%;
  aspect-ratio: 3/4;
  object-fit: contain;
}

.card-progress {
  height:100%;
  background-color: rgb(115, 115, 115);
}

.card-progress-container {
  height:1em;
  width:100vw;
  background-color: rgb(221, 221, 221);
}

.pause-play {
  flex:1;
  height:4em;
  /* background-color: rgb(221, 221, 221); */
  /* border: none; */
}



button {
  border-radius: 0;
}

.settings-open {
width:8em;
height:4em;
/* border: none; */
}
.settings-close {
  width:100%;
  height:3em;
}
.settings {
  position: fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1em;
  width:90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.velocity-button {
  font-size: 3em;
  background-color: transparent;
  border: none;
}
.velocity-container {
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 2em;
}

/* .grid-container {
  height:80vh;
  padding:1vh;
} */

.card {
  display: flex;
  justify-content: center;
  perspective: 1000px;
  max-height:calc(100vh - 12em);
  max-width:90vw;
  height:100%;
  aspect-ratio: 3/4;
  /* background-color: blue; */
  z-index: 2;
}

.card img {
  object-fit: contain;
  height: 100%;
  max-width:100%;

  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card.flipping img {
  transform: rotateY(180deg);
}

.hidden {
  display: none;
}

/* 
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-inner {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  width: 80vw;
  height: 50vh;
  overflow: scroll;
}

.image-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 4em;
}

/* .image-grid img {
  width: 5em;
  margin-bottom:2em;
} */
 
